{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-partial-application",
    ["@babel/plugin-proposal-decorators", {decoratorsBeforeExport: true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-do-expressions"
  ]
}